APP_ENV=dev

ZENMUX_API_KEY=
ZENMUX_BASE_URL=https://zenmux.ai/api/v1

DOUBAO_API_KEY=
DOUBAO_BASE_URL=https://ark.cn-beijing.volces.com/api/v3

SILICONFLOW_API_KEY=
SILICONFLOW_BASE_URL=https://api.siliconflow.com/v1

CHROME_BINARY=
CHROMEDRIVER_PATH=
