.venv/
venv/
.vscode/
.ruff_cache/

#.env
#.env.*
!.env.example

*.pyc
__pycache__/
__pycache__/cig.cpython-313.pyconf

data/
!data/intent_registry.json
history/
logs/
logs/token_usage/
debug_screenshot.jpg

chrome.zip
chrome-mac-arm64/
chromedriver.zip
chromedriver-mac-arm64/