annotated-doc==0.0.4
annotated-types==0.7.0
anyio==4.12.1
async-generator==1.10
attrs==25.4.0
certifi==2026.1.4
charset-normalizer==3.4.4
click==8.3.1
distro==1.9.0
dotenv==0.9.9
fastapi==0.128.0
gunicorn==23.0.0
h11==0.16.0
httpcore==1.0.9
httpx==0.28.1
idna==3.11
importlib_metadata==8.7.1
jiter==0.12.0
MouseInfo==0.1.3
mypy_extensions==1.1.0
numpy==2.4.4
openai==2.15.0
opencv-python-headless==4.13.0.92
outcome==1.3.0.post0
packaging==25.0
pillow==12.1.0
PyAutoGUI==0.9.54
pydantic==2.12.5
pydantic_core==2.41.5
PyGetWindow==0.0.9
PyMonCtl==0.92
PyMsgBox==2.0.1
pyobjc==12.1 ; sys_platform == "darwin"
pyobjc-core==12.1 ; sys_platform == "darwin"
pyobjc-framework-Accessibility==12.1 ; sys_platform == "darwin"
pyobjc-framework-Accounts==12.1 ; sys_platform == "darwin"
pyobjc-framework-AddressBook==12.1 ; sys_platform == "darwin"
pyobjc-framework-AdServices==12.1 ; sys_platform == "darwin"
pyobjc-framework-AdSupport==12.1 ; sys_platform == "darwin"
pyobjc-framework-AppleScriptKit==12.1 ; sys_platform == "darwin"
pyobjc-framework-AppleScriptObjC==12.1 ; sys_platform == "darwin"
pyobjc-framework-ApplicationServices==12.1 ; sys_platform == "darwin"
pyobjc-framework-AppTrackingTransparency==12.1 ; sys_platform == "darwin"
pyobjc-framework-AudioVideoBridging==12.1 ; sys_platform == "darwin"
pyobjc-framework-AuthenticationServices==12.1 ; sys_platform == "darwin"
pyobjc-framework-AutomaticAssessmentConfiguration==12.1 ; sys_platform == "darwin"
pyobjc-framework-Automator==12.1 ; sys_platform == "darwin"
pyobjc-framework-AVFoundation==12.1 ; sys_platform == "darwin"
pyobjc-framework-AVKit==12.1 ; sys_platform == "darwin"
pyobjc-framework-AVRouting==12.1 ; sys_platform == "darwin"
pyobjc-framework-BackgroundAssets==12.1 ; sys_platform == "darwin"
pyobjc-framework-BrowserEngineKit==12.1 ; sys_platform == "darwin"
pyobjc-framework-BusinessChat==12.1 ; sys_platform == "darwin"
pyobjc-framework-CalendarStore==12.1 ; sys_platform == "darwin"
pyobjc-framework-CallKit==12.1 ; sys_platform == "darwin"
pyobjc-framework-Carbon==12.1 ; sys_platform == "darwin"
pyobjc-framework-CFNetwork==12.1 ; sys_platform == "darwin"
pyobjc-framework-Cinematic==12.1 ; sys_platform == "darwin"
pyobjc-framework-ClassKit==12.1 ; sys_platform == "darwin"
pyobjc-framework-CloudKit==12.1 ; sys_platform == "darwin"
pyobjc-framework-Cocoa==12.1 ; sys_platform == "darwin"
pyobjc-framework-Collaboration==12.1 ; sys_platform == "darwin"
pyobjc-framework-ColorSync==12.1 ; sys_platform == "darwin"
pyobjc-framework-Contacts==12.1 ; sys_platform == "darwin"
pyobjc-framework-ContactsUI==12.1 ; sys_platform == "darwin"
pyobjc-framework-CoreAudio==12.1 ; sys_platform == "darwin"
pyobjc-framework-CoreAudioKit==12.1 ; sys_platform == "darwin"
pyobjc-framework-CoreBluetooth==12.1 ; sys_platform == "darwin"
pyobjc-framework-CoreData==12.1 ; sys_platform == "darwin"
pyobjc-framework-CoreHaptics==12.1 ; sys_platform == "darwin"
pyobjc-framework-CoreLocation==12.1 ; sys_platform == "darwin"
pyobjc-framework-CoreMedia==12.1 ; sys_platform == "darwin"
pyobjc-framework-CoreMediaIO==12.1 ; sys_platform == "darwin"
pyobjc-framework-CoreMIDI==12.1 ; sys_platform == "darwin"
pyobjc-framework-CoreML==12.1 ; sys_platform == "darwin"
pyobjc-framework-CoreMotion==12.1 ; sys_platform == "darwin"
pyobjc-framework-CoreServices==12.1 ; sys_platform == "darwin"
pyobjc-framework-CoreSpotlight==12.1 ; sys_platform == "darwin"
pyobjc-framework-CoreText==12.1 ; sys_platform == "darwin"
pyobjc-framework-CoreWLAN==12.1 ; sys_platform == "darwin"
pyobjc-framework-CryptoTokenKit==12.1 ; sys_platform == "darwin"
pyobjc-framework-DataDetection==12.1 ; sys_platform == "darwin"
pyobjc-framework-DeviceCheck==12.1 ; sys_platform == "darwin"
pyobjc-framework-DeviceDiscoveryExtension==12.1 ; sys_platform == "darwin"
pyobjc-framework-DictionaryServices==12.1 ; sys_platform == "darwin"
pyobjc-framework-DiscRecording==12.1 ; sys_platform == "darwin"
pyobjc-framework-DiscRecordingUI==12.1 ; sys_platform == "darwin"
pyobjc-framework-DiskArbitration==12.1 ; sys_platform == "darwin"
pyobjc-framework-DVDPlayback==12.1 ; sys_platform == "darwin"
pyobjc-framework-EventKit==12.1 ; sys_platform == "darwin"
pyobjc-framework-ExceptionHandling==12.1 ; sys_platform == "darwin"
pyobjc-framework-ExecutionPolicy==12.1 ; sys_platform == "darwin"
pyobjc-framework-ExtensionKit==12.1 ; sys_platform == "darwin"
pyobjc-framework-ExternalAccessory==12.1 ; sys_platform == "darwin"
pyobjc-framework-FileProvider==12.1 ; sys_platform == "darwin"
pyobjc-framework-FileProviderUI==12.1 ; sys_platform == "darwin"
pyobjc-framework-FinderSync==12.1 ; sys_platform == "darwin"
pyobjc-framework-FSEvents==12.1 ; sys_platform == "darwin"
pyobjc-framework-FSKit==12.1 ; sys_platform == "darwin"
pyobjc-framework-GameCenter==12.1 ; sys_platform == "darwin"
pyobjc-framework-GameController==12.1 ; sys_platform == "darwin"
pyobjc-framework-GameKit==12.1 ; sys_platform == "darwin"
pyobjc-framework-GameplayKit==12.1 ; sys_platform == "darwin"
pyobjc-framework-HealthKit==12.1 ; sys_platform == "darwin"
pyobjc-framework-ImageCaptureCore==12.1 ; sys_platform == "darwin"
pyobjc-framework-InputMethodKit==12.1 ; sys_platform == "darwin"
pyobjc-framework-InstallerPlugins==12.1 ; sys_platform == "darwin"
pyobjc-framework-InstantMessage==12.1 ; sys_platform == "darwin"
pyobjc-framework-Intents==12.1 ; sys_platform == "darwin"
pyobjc-framework-IntentsUI==12.1 ; sys_platform == "darwin"
pyobjc-framework-IOBluetooth==12.1 ; sys_platform == "darwin"
pyobjc-framework-IOBluetoothUI==12.1 ; sys_platform == "darwin"
pyobjc-framework-IOSurface==12.1 ; sys_platform == "darwin"
pyobjc-framework-iTunesLibrary==12.1 ; sys_platform == "darwin"
pyobjc-framework-KernelManagement==12.1 ; sys_platform == "darwin"
pyobjc-framework-LatentSemanticMapping==12.1 ; sys_platform == "darwin"
pyobjc-framework-LaunchServices==12.1 ; sys_platform == "darwin"
pyobjc-framework-libdispatch==12.1 ; sys_platform == "darwin"
pyobjc-framework-libxpc==12.1 ; sys_platform == "darwin"
pyobjc-framework-LinkPresentation==12.1 ; sys_platform == "darwin"
pyobjc-framework-LocalAuthentication==12.1 ; sys_platform == "darwin"
pyobjc-framework-LocalAuthenticationEmbeddedUI==12.1 ; sys_platform == "darwin"
pyobjc-framework-MailKit==12.1 ; sys_platform == "darwin"
pyobjc-framework-MapKit==12.1 ; sys_platform == "darwin"
pyobjc-framework-MediaAccessibility==12.1 ; sys_platform == "darwin"
pyobjc-framework-MediaExtension==12.1 ; sys_platform == "darwin"
pyobjc-framework-MediaLibrary==12.1 ; sys_platform == "darwin"
pyobjc-framework-MediaPlayer==12.1 ; sys_platform == "darwin"
pyobjc-framework-MediaToolbox==12.1 ; sys_platform == "darwin"
pyobjc-framework-Metal==12.1 ; sys_platform == "darwin"
pyobjc-framework-MetalFX==12.1 ; sys_platform == "darwin"
pyobjc-framework-MetalKit==12.1 ; sys_platform == "darwin"
pyobjc-framework-MetalPerformanceShaders==12.1 ; sys_platform == "darwin"
pyobjc-framework-MetalPerformanceShadersGraph==12.1 ; sys_platform == "darwin"
pyobjc-framework-MetricKit==12.1 ; sys_platform == "darwin"
pyobjc-framework-MLCompute==12.1 ; sys_platform == "darwin"
pyobjc-framework-ModelIO==12.1 ; sys_platform == "darwin"
pyobjc-framework-MultipeerConnectivity==12.1 ; sys_platform == "darwin"
pyobjc-framework-NaturalLanguage==12.1 ; sys_platform == "darwin"
pyobjc-framework-NetFS==12.1 ; sys_platform == "darwin"
pyobjc-framework-Network==12.1 ; sys_platform == "darwin"
pyobjc-framework-NetworkExtension==12.1 ; sys_platform == "darwin"
pyobjc-framework-NotificationCenter==12.1 ; sys_platform == "darwin"
pyobjc-framework-OpenDirectory==12.1 ; sys_platform == "darwin"
pyobjc-framework-OSAKit==12.1 ; sys_platform == "darwin"
pyobjc-framework-OSLog==12.1 ; sys_platform == "darwin"
pyobjc-framework-PassKit==12.1 ; sys_platform == "darwin"
pyobjc-framework-PencilKit==12.1 ; sys_platform == "darwin"
pyobjc-framework-PHASE==12.1 ; sys_platform == "darwin"
pyobjc-framework-Photos==12.1 ; sys_platform == "darwin"
pyobjc-framework-PhotosUI==12.1 ; sys_platform == "darwin"
pyobjc-framework-PreferencePanes==12.1 ; sys_platform == "darwin"
pyobjc-framework-PushKit==12.1 ; sys_platform == "darwin"
pyobjc-framework-Quartz==12.1 ; sys_platform == "darwin"
pyobjc-framework-QuickLookThumbnailing==12.1 ; sys_platform == "darwin"
pyobjc-framework-ReplayKit==12.1 ; sys_platform == "darwin"
pyobjc-framework-SafariServices==12.1 ; sys_platform == "darwin"
pyobjc-framework-SafetyKit==12.1 ; sys_platform == "darwin"
pyobjc-framework-SceneKit==12.1 ; sys_platform == "darwin"
pyobjc-framework-ScreenCaptureKit==12.1 ; sys_platform == "darwin"
pyobjc-framework-ScreenSaver==12.1 ; sys_platform == "darwin"
pyobjc-framework-ScreenTime==12.1 ; sys_platform == "darwin"
pyobjc-framework-ScriptingBridge==12.1 ; sys_platform == "darwin"
pyobjc-framework-SearchKit==12.1 ; sys_platform == "darwin"
pyobjc-framework-Security==12.1 ; sys_platform == "darwin"
pyobjc-framework-SecurityFoundation==12.1 ; sys_platform == "darwin"
pyobjc-framework-SecurityInterface==12.1 ; sys_platform == "darwin"
pyobjc-framework-SecurityUI==12.1 ; sys_platform == "darwin"
pyobjc-framework-SensitiveContentAnalysis==12.1 ; sys_platform == "darwin"
pyobjc-framework-ServiceManagement==12.1 ; sys_platform == "darwin"
pyobjc-framework-SharedWithYou==12.1 ; sys_platform == "darwin"
pyobjc-framework-SharedWithYouCore==12.1 ; sys_platform == "darwin"
pyobjc-framework-ShazamKit==12.1 ; sys_platform == "darwin"
pyobjc-framework-Social==12.1 ; sys_platform == "darwin"
pyobjc-framework-SoundAnalysis==12.1 ; sys_platform == "darwin"
pyobjc-framework-Speech==12.1 ; sys_platform == "darwin"
pyobjc-framework-SpriteKit==12.1 ; sys_platform == "darwin"
pyobjc-framework-StoreKit==12.1 ; sys_platform == "darwin"
pyobjc-framework-Symbols==12.1 ; sys_platform == "darwin"
pyobjc-framework-SyncServices==12.1 ; sys_platform == "darwin"
pyobjc-framework-SystemConfiguration==12.1 ; sys_platform == "darwin"
pyobjc-framework-SystemExtensions==12.1 ; sys_platform == "darwin"
pyobjc-framework-ThreadNetwork==12.1 ; sys_platform == "darwin"
pyobjc-framework-UniformTypeIdentifiers==12.1 ; sys_platform == "darwin"
pyobjc-framework-UserNotifications==12.1 ; sys_platform == "darwin"
pyobjc-framework-UserNotificationsUI==12.1 ; sys_platform == "darwin"
pyobjc-framework-VideoSubscriberAccount==12.1 ; sys_platform == "darwin"
pyobjc-framework-VideoToolbox==12.1 ; sys_platform == "darwin"
pyobjc-framework-Virtualization==12.1 ; sys_platform == "darwin"
pyobjc-framework-Vision==12.1 ; sys_platform == "darwin"
pyobjc-framework-WebKit==12.1 ; sys_platform == "darwin"
pyperclip==1.11.0
PyRect==0.2.0
PyScreeze==1.0.1
PySocks==1.7.1
python-dotenv==1.2.1
python-socks[asyncio]==2.5.1
pytweening==1.2.0
PyWinBox==0.7
PyWinCtl==0.4.1
PyYAML==6.0.3
requests==2.32.5
rubicon-objc==0.5.3 ; sys_platform == "darwin"
selenium==4.40.0
sniffio==1.3.1
sortedcontainers==2.4.0
starlette==0.50.0
tqdm==4.67.1
trio==0.32.0
trio-typing==0.10.0
trio-websocket==0.12.2
types-certifi==2021.10.8.3
types-urllib3==1.26.25.14
typing-inspection==0.4.2
typing_extensions==4.15.0
urllib3==2.6.3
uvicorn==0.40.0
webdriver-manager==4.0.2
websocket-client==1.9.0
websockets==16.0
wsproto==1.3.2
wuying-agentbay-sdk>=0.6.0
zipp==3.23.0
